.header {
    width: 100vw;
    /* padding-left: 5rem; */
    font-size: 6rem;
}
.header p {
    font-size: 4rem;
    padding-left: 3rem;
    padding-top: 2rem;
    z-index: 1000;

}

@media only screen and (max-width: 600px) {
    .header p {
        font-size: 2.5rem;
        padding-left: 0rem;
        padding-top: .5rem;
    }
    .header {
        /* padding-left: 5rem;    */
    }
  }

@media only screen and (max-width: 350px) {
    .header p {
        font-size: 1.8rem;
        /* padding-left: 1rem; */
        padding-top: .3rem;
    }
}

@media only screen and (max-height: 600px) {
    .header p {
        font-size: 2rem;
        /* padding-left: 1rem; */
        padding-top: .3rem;
    }
}