.textWrapper{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 4rem;
color: #000;
width: 100%;
transform: translateY(2rem);
/* text-shadow:1px 1px #758E4F; */

}

.openingText {
opacity: 0;
font-size: 12rem;
animation: opening 1s forwards ease-in-out;
}

.infoText {
text-align: center;
font-size: 2.8rem;
opacity: 0;
animation: info 5s 1s forwards ease-in-out;
transform: translateY(-7rem);
}

@keyframes opening {
    0% {
        display: block;
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.2);
    }
    
    90% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1);
        display: none;
    }
}

@keyframes info {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .openingText {
    font-size: 4rem;
        
    }
        
    .infoText {
    font-size: 2.5rem;
    text-align: center;
    width: 70vw;
    }
  }

@media only screen and (max-width: 350px) {
    .openingText {
        font-size: 4rem;
    }
            
    .infoText {
        font-size: 2rem;
    }
}

@media only screen and (max-height: 600px) {
    .textWrapper{
        padding: 2rem;
    }
    .openingText {
    font-size: 4rem;
    }
    .infoText {
    font-size: 2.2rem;
    }
  }